* {
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4 {
 text-transform: uppercase; 
}
#container {
    position: relative;    
    max-width: 100%;
    min-height: 1000px;   
    background-color: #FCFFDD;
    box-sizing: border-box;
}

header {
    position: relative;
    grid-area: top;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". ."
        "name photo"
        "lname photo"
        "description photo";
    margin: 30px 30px 0 30px;
    
}

#name { 
    grid-area: name;
    color: #cecece;
}
#lname { 
    grid-area: lname;
    color: #cecece;
}
#description { 
    grid-area: description;
    color: #A7A7A7;
}
#photo { 
    position: relative;    
    right: 30;
    grid-area: photo;
    width: 150px;
    height: 150px;
}


#page {
    position: relative;    
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "profile expert"
    "profile expert"
    "profile expert"
    "profile expert"
    "ittools interest";
   
}

#ittools {grid-area: ittools;}
#expert {grid-area: expert;}
#interest {grid-area: interest;}

#person { 
 background-color: #4F5041;
}

.left {
    background-color: #B4B798;
}
#profile { 
    grid-area: profile;
}
section {
    margin-bottom: 0;
    padding-bottom: 0;
}
.job {
    color: #868586;
}
#date {
    position: relative;
    justify-content: right;
}

@media (max-width: 1000px) {
    #container {
        margin: 10px;
        position: relative;    
        width: 100%;
        min-height: 1000px;   
        background-color: #FCFFDD;
        box-sizing: border-box;
    } 
    header {
        position: relative;
        grid-area: top;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        
    }   
    #page {
        position: relative;    
        display: grid;
        grid-template-columns: repeat (1, 1fr);
        grid-template-rows: 1fr;
      
       
    }
}